# For more information about the properties used in
# this file, please see the EditorConfig documentation:
# http://editorconfig.org/
#
# http://www.php-fig.org/psr/psr-2/#overview
# https://www.python.org/dev/peps/pep-0008/#tabs-or-spaces
# http://www.yaml.org/start.html
# https://github.com/github/rubocop-github/blob/master/STYLEGUIDE.md

root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.php,*.py}]
indent_style = space

[{*.json,.*rc,*.yml,*.yaml,*.conf,Vagrantfile}]
indent_style = space
indent_size = 2

# https://github.com/jedmao/eclint#block_comment
[*.{ts,scss}]
block_comment_start = /*
block_comment = *
block_comment_end = */
